# Configuracion de la base de datos local
DATABASE_URL=mongodb://localhost:27017
DB_NAME=pdf_extractor_db

# Seguridad y aplicacion
SECRET_KEY=cambiar_esta_clave_en_cada_entorno
DEBUG=True
API_V1_STR=/api/v1
